@model List<puma.Models.stationMaster>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>stationCategory</h4>
    <hr />
    

    <table style="width:100%" class="table table-bordered">
        <tr>
            <th>Name:</th>
            <td>@Model[0].CustomerName</td>
        </tr>
        <tr>
            <th>Region Name:</th>
            <td>@Model[0].regionName</td>
        </tr>
        <tr>
            <th>Province Name:</th>
            <td>@Model[0].provinceName</td>
        </tr>
        <tr>
            <th>District Name:</th>
            <td>@Model[0].districtName</td>
        </tr>
        <tr>
            <th>Mapped Categories:</th>
            <td>
            @foreach (var item in ViewBag.categoryNames)
                {
                    <label>@item.ToString(),</label>
                }
       

               
            </td>
        </tr>
    </table>
     
           
      
    @*a*@
</div>
<div>
  
    <a asp-action="Index">Back to List</a>
</div>
