
@model puma.Controllers.Lists

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>stationCategory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
       @* <select form="catform" name="StationId">

            @foreach (var item in Model.stations)
            {
                <option asp-for="StationId" value="@item.ID">@item.Name</option>
            }
            </select>*@
        <form asp-action="Edit" id="catform" method="post">

         
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input name="StationId" value="@ViewBag.stationid" hidden/>
                @for(int i = 0; i < Model.categories.Count(); i++)
                {
                    <input type="checkbox" name="catids" value="@Model.categories[i].ID" />
                    <p>@Model.categories[i].Name</p>
                }
              
                <br>
            </div>
              
            
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
