@model List<puma.Controllers.Data>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Station On Categories</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="example" class="hover" style="width:100%">
    <thead>
        <tr>
            <th>
           Stations
            </th>
            <th>
               Categories
            </th>  <th>
              Actions
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.GroupBy(x=>x.stid))
        {
        <tr>
         <td>
                   
            <p>@item.FirstOrDefault().stname </p>
                <td>
                    @foreach (var subitem in Model.Where(s => s.stid == item.Key))

                    {

                 
                        <p> @subitem.catname</p>
                   
                    }

                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.FirstOrDefault().stid">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.FirstOrDefault().stid">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.FirstOrDefault().stid">Delete</a>
                    @*<p>@item.FirstOrDefault().stcatid </p>    *@                  

                </td>
         </td>
            <td>
       
       
                   @* <a asp-action="Edit" asp-route-id="@">Edit</a> |
                    <a asp-action="Details" asp-route-id="@ViewBag.data">Details</a> |
                    <a asp-action="Delete" asp-route-id="@ViewBag.data">Delete</a>*@
            </td>
     
        </tr>
        }
    </tbody>
</table>
