@using puma.Models;
@model dynamic
@using System.Dynamic
@using System.Linq

@*<select form="myform" name="name">
    @foreach (var item in Model.GroupBy(x => x.Name).Select(x => x.FirstOrDefault()))
    {
        <option asp-for="Name" value="@item.Name">@item.Name</option>
    }
</select>
<br>*@
@{
    Func<stationMaster, string> groupByCity = x => x.provinceName;
    var groupedItems = Enumerable.GroupBy(Model.StationMasters, groupByCity);
    Func<IGrouping<string, stationMaster>, stationMaster> selectFirst = x => x.FirstOrDefault();
    var firstOfEachGroup = Enumerable.Select(groupedItems,selectFirst);
}
<div class="row">
      <div class="col-sm-6">
        <select form="myform" name="province">
            @foreach (var item in firstOfEachGroup)
            {
                <option asp-for="Name" value="@item.provinceName">@item.provinceName</option>
            }
        </select>

        <form id="myform" asp-action="map" method="post">
            @{

                // initialize a counter variable to keep track of the number of categories printed so far
                var counter = 0;
            }

            <div class="row">
            @for (int i = 0; i < Model.categoryMaster.Count; i++)
            {
                // check if the current counter value is a multiple of 3
                if (counter % 3 == 0 && counter != 0)
                {
                    // close the current row and start a new one
                    @:</div><div class="row">
                }

                // print the current category checkbox and label
                <div class="col-md-4 mt-3">
                    <input type="checkbox" class="" name="service" value="@Model.categoryMaster[i].categoryName">
                    <label style="margin: 1px;">@Model.categoryMaster[i].categoryName</label>
                </div>

                // increment the counter variable
                counter++;
            }

           @* // close the last row if there are any remaining columns*@
          @if(counter % 3 != 0)
{
    @Html.Raw("</div>")
}
            
            <div class="col-md-12 mt-3">
                <input type="submit" value="Search" class="btn btn-primary">
            </div>
        </form>
    </div>

       
        <div class="col-sm-6">
        <div style="height:50vh;" id="map"></div>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWKtZc2XJqIacL0YK2mGOeDj0XvmO9uiw&callback=initMap&v=weekly"
                defer></script>
          </div>
</div>



<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: { lat: 29.8989051, lng: 69.4155077 }
        });
    }
    $('#myform').on('submit', function (event) {
        // prevent the default form submit behavior
        event.preventDefault();

        // retrieve the form data
        var formData = new FormData($(this)[0]);

        // make an AJAX request to the map action method
        $.ajax({
            url: '@Url.Action("map", "stationMasters")',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                // update the map with the new markers
                var markers = data.locations;
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 4,
                    center: { lat: 30.2442518, lng: 69.4925662 }
                });
                
                for (var i = 0; i < markers.length; i++) {
                    var marker = new google.maps.Marker({
                        position: markers[i],
                        map: map,
                        title: markers[i].title
                    });
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                // handle the error
                console.log('Error:', errorThrown);
            }
        });
    });
</script>
